.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f0f2f5;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

li:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
  margin: 0 0 10px;
  color: #333;
}

p {
  margin: 5px 0;
  color: #555;
}

a {
  color: #1a0dab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
